@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --above-fold-color: #e7eeef;
  --text-color: #6c87ae;
  --text-color-black: #333;
  --text-color-white: #fff;
}

html {
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue" !important;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none !important;
}
p {
  font-family: Inconsolata, monospace;
  color: var(--text-color-black);
}

* {
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px !important;
  }
}

/* @media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 720px !important;
  }
} */

/* @media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px !important;
  }
} */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

/* @media (min-width: 1024px) {
  .container {
    max-width: 1024px !important;
  }
  
}
@media (min-width: 768px) {
  .container {
    max-width: 768px !important;
  }
} */

/* @media (min-width: 640px) {
  .container {
    max-width: 640px !important;
  }
} */

/******

1. HOME PAGE

******/

/* Above The Fold */
header .navbar-brand a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.above-fold {
  background-color: var(--above-fold-color);
  min-height: 100vh;
  /* padding-bottom: 3.75rem; */
  position: relative;
}

.above-fold::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 116px;
  background-image: url("/images/quarter-wave-bg.png");
}

/* Navbar */
.navbar-toggler.collapsed {
  border: none !important;
}
.above-fold .navbar-brand {
  display: flex;
  align-items: center;
}
.above-fold .navbar-brand-text {
  font-size: 2rem;
  text-transform: uppercase;
  margin-left: 1.063rem;
  background-image: linear-gradient(45deg, #438181, #326060);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
}
.navbar {
  padding-top: 1.875rem !important;
  padding-bottom: 1.875rem !important;
}
.navbar-nav {
  align-items: center;
}
.navbar-nav a {
  font-family: "Montserrat", sans-serif !important;
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  opacity: 0.8;
  font-weight: 600;
  font-size: 1.1rem;
}
.navbar-nav-white a {
  color: #fff !important;
  -webkit-text-fill-color: unset !important;
}
.navbar-nav a:nth-child(4) {
  margin-right: 0.875rem;
}
.navbar-nav .contact-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 30px !important;
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  box-shadow: 0px 8px 23px rgba(67, 129, 129, 0.15);
  border-radius: 100px;
  color: var(--text-color-white);
  -webkit-text-fill-color: var(--text-color-white) !important;
}
.navbar-nav-white .contact-link {
  background: #fff !important;
  box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24) !important;
  color: var(--text-color-black) !important;
  -webkit-text-fill-color: var(--text-color-black) !important;
  mix-blend-mode: luminosity;
}

/* Copy Text Section */
.copy-text-content {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copy-text-content h1 {
  font-weight: 900;
  font-size: 1.875rem;
  display: flex;
  align-items: center;

  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
}
.copy-text-content p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 24px;
  color: var(--text-color-black);
}
.above-fold .row {
  margin-top: 3rem;
}

.codnify-logo-container {
  height: 500px;
}
.phone {
  position: relative;
}
.phone > span {
  overflow: inherit !important;
}
.phone img {
  left: 23px !important;
  /* bottom: 509px !important; */
  width: inherit !important;
  height: inherit !important;
}
.down-arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About Section */
.aboutUsAboveFold {
  height: 500px !important;
  padding-bottom: 3.75rem;
}

.about-section h3 {
  font-weight: 900;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  margin-bottom: 1.313rem !important;
}
.about-section .about-copy {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--text-color-black);
  margin-bottom: 0 !important;
}
.about-section .card {
  font-family: "Montserrat";
  padding: 32px;
  background: #ffffff;
  box-shadow: 0px 24px 32px -3px rgba(67, 129, 129, 0.15);
  border-radius: 24px;
  min-height: 100%;
  min-width: 100%;
  width: 213px !important;
}
.card {
  border: none !important;
}
.about-section .card-title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  color: var(--text-color-black);
  word-break: break-word;
}
.about-section .card-body {
  padding: 0 !important;
}
.about-section .row {
  margin-top: 3.188rem;
}
.about-section .card > .card-body > span {
  display: initial !important;
}
.about-section .card > .card-body > span img {
  width: 100px !important;
  height: 100px !important;
  min-width: initial !important;
  max-width: initial !important;
  min-height: initial !important;
  max-height: initial !important;
  left: 182px !important;
  top: -76px !important;
}

/* Services */

.services-section {
  margin-top: 15rem !important;
  background-image: url("/images/full-wave-bg.png");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.services-section::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 116px;
  background-image: url("/images/quarter-wave-bg.png");
}
.services-section-text h3 {
  font-weight: 900;
  font-size: 1.875rem;
  line-height: 59px;
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 0 !important;
  text-transform: uppercase;
}
.services-section-text p {
  font-weight: 700;
  font-size: 1.25rem;
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5.875rem;
}
.services-list {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 60px;
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  box-shadow: 0px 24px 32px -3px rgba(67, 129, 129, 0.15);
  border-radius: 500px 500px 50px 50px;
  margin-right: 3rem;
  width: 15.625rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.875rem;
}
.services-section-text {
  text-align: right;
  margin-top: 6.25rem;
  margin-bottom: 1.875rem;
}
.services-container .services-list:nth-child(5) {
  margin-right: 0;
}
.services-container .services-list:nth-child(4),
.services-container .services-list:nth-child(5) {
  position: relative;
  left: 15%;
  margin-bottom: 0;
}
.services-list .services-list__graphic {
  transform: translateY(-43%);
}
.services-type h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

/* Projects Section */
.projects-section {
  margin-top: 9.375rem !important;
}
.projects-section h3 {
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 59px;
  display: flex;
  align-items: center;
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0 !important;
  text-transform: uppercase;
}
.projects-section p {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 21px;
}
.shadow-effect {
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}
#shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}
.img-circle {
  border-radius: 50px;
  vertical-align: middle;
  max-width: 90px;
  min-height: 90px;
  transform-style: preserve-3d;
  margin: 0 auto 17px;
}
/* #project {
  margin-top: 6%;
} */
#project .item {
  text-align: center;
  margin-bottom: 0px;
  filter: blur(4px) drop-shadow(0px 24px 32px rgba(67, 129, 129, 0.15));
  transform: scale3d(0.8, 0.8, 1);
  transition: all 0.3s ease-in-out;
}

#project .owl-item.active.center .item {
  filter: none !important;
  transform: scale3d(1, 1, 1);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: linear-gradient(
    47.03deg,
    #438181 7.38%,
    #326060 97.34%
  ) !important;
  transform: translate3d(0px, -50%, 0px) scale(0.8);
}
.owl-theme .owl-dots .owl-dot.active {
  width: 50px;
  height: 15px;
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  border-radius: 50px;
}
.owl-carousel .owl-dots {
  display: inline-block !important;
  width: 100%;
  text-align: center !important;
}
.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}
.owl-carousel .owl-dots {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.active .item {
  width: 500.32px;
}

/* Testimonials Section */
.testimonials-section {
  margin-top: 5rem !important;
  background-image: url("/images/full-wave-bg.png");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 12.5rem;
}
.testimonials-section::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 163px;
  background-image: url("/images/quarter-wave-bg.png");
  background-size: cover;
}
.testimonials-section h3 {
  font-weight: 900;
  font-size: 3rem;
  display: flex;
  align-items: center;
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 0 !important;
}
.slick-prev,
.slick-next {
  color: black;
  background: linear-gradient(
    47.03deg,
    #438181 7.38%,
    #326060 97.34%
  ) !important;
  box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24) !important;
  border-radius: 100px !important;
  width: 91px !important;
  height: 67px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  /* top: 47% !important; */
  transform: translateY(-100%) !important;
  margin-top: 9rem;
}
.slick-slider .slick-track {
  text-align: center;
}
.slick-prev:before,
.slick-next:before {
  display: none !important;
}
.slick-next {
  left: 90px !important;
}
.testimonial-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.image-with-clientdetails {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4.5rem;
}
.image-with-clientdetails > span {
  order: 1;
  border-radius: 40px;
}
.image-with-clientdetails img {
  box-shadow: 0px 10px 30px 1px rgba(64, 123, 123, 0.2);
  border-radius: 40px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -1;
}
.testimonial-feedback {
  text-align: left;
  width: 30.313rem;
}
.testimonial-feedback h4 {
  font-weight: 600;
  font-size: 1.563rem;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #031432;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0.5rem 0 0 0;
}
.testimonial-feedback h5 {
  font-weight: 700;
  font-size: 1.25rem;
  font-family: "Inconsolata", monospace;
  line-height: 24px;
  color: var(--text-color-black);
  margin-bottom: 0 !important;
}
.ratings-container {
  display: flex;
  transform: translate(40%, 60px);
}
.ratings {
  display: flex;
  flex-direction: column;
  transform: translateX(40%);
}
.ratings h5 {
  margin-bottom: 0 !important;
  font-weight: 600;
  font-family: "Montserrat", serif;
  font-size: 16px;
  line-height: 24px;
  color: #031432;
}
.ratings > div {
  margin-right: 1rem;
}
.client-details {
  position: relative;
}
.client__details-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 192px;
  justify-content: center;
  height: 52px;
  text-align: center;
  left: -500px;
  top: 227px;
  bottom: 0;
  right: 0;
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  border-radius: 10px;
  box-shadow: 0px 12px 32px rgba(63, 128, 240, 0.08);
}
.client-details h4 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #fff !important;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 2px 0px;
}
.client-details h5 {
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #fff !important;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 2px 0px;
  font-family: Inconsolata, monospace;
}

/* Contact Section */
.contact-section {
  margin-top: 13.313rem !important;
  padding-top: 5rem;
}
.contact-section section {
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  box-shadow: 0px 20px 24px rgba(52, 100, 100, 0.2);
  border-radius: 32px;
  color: white;
  width: 69.375rem;
  padding: 4rem 12.5rem;
  text-align: center;
}
.contact-section h4 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 59px;
  text-align: center;
  color: white;
}
.contact-section p {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 24px;
  text-align: center;
  opacity: 0.8;
  color: white;
}
.css-1480iag-MuiInputBase-root-MuiInput-root:after {
  color: white !important;
}
.input-text-field label {
  color: white !important;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
}
.input-text-field input {
  border-bottom: 2px solid white !important;
}
.input-text-field .css-1480iag-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid white !important;
}
.submit-button {
  margin-top: 2.563rem;
}
.submit-button button {
  padding: 16px 28px;
  /* width: 124px;
  height: 54px; */
  background: #ffffff;
  box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
  border-radius: 100px;
  border-color: transparent;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #326060;
}

/* Footer */
.footer-container {
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  padding-top: 4rem;
  padding-bottom: 3rem;
  color: white;
}
.footer-logo {
  display: flex;
  align-items: center;
}
.footer-logo span:nth-child(2) {
  font-weight: 400;
  font-size: 2rem;
  line-height: 38px;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.address p {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  font-size: 1rem;
  line-height: 20px;
  margin-top: 1.688rem;
  margin-bottom: 1.667rem;
  color: white;
}
.social-media ul {
  display: flex;
  list-style: none;
  padding-left: 0 !important;
}
.social-media ul li:not(:last-of-type) {
  margin-right: 2.167rem;
}
.footer-container .row:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.footer-container h3 {
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 1.15rem;
  line-height: 24px;
  color: white;
}
.company-info,
.services-footer,
.contact-footer {
  font-family: "Montserrat";
}
.contact-footer-links ul,
.services-footer-links ul,
.company-info-links ul {
  list-style: none;
  padding-left: 0 !important;
}
.contact-footer-links li,
.services-footer-links li,
.company-info-links li {
  margin-bottom: 1rem;
}
.contact-footer-links a,
.services-footer-links a,
.company-info-links a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff !important;
  opacity: 0.8;
  text-decoration: none;
  width: max-content;
}
.copy-right {
  font-family: Montserrat;
  padding-top: 2.5rem;
}
.copy-right p {
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .phone img {
    left: 110px !important;
  }
}

@media screen and (min-width: 1200px) {
  .phone img {
    left: 110px !important;
  }
}
@media screen and (min-width: 1400px) {
  .phone img {
    left: 63px !important;
  }
}

@media screen and (max-width: 1440px) {
  .active .item {
    width: 429.32px;
  }
}

/******

2. ABOUT US PAGE

******/

.about-copy-text h1,
.services-copy-text h1,
.projects-copy-text h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 59px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  margin-top: 6.063rem;
}
.about-page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  font-family: Montserrat;
}
.about-page-container h3 {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 59px;
  text-align: center;
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 2.063rem;
}
.about-page-container p {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 24px;
  text-align: justify;

  color: var(--text-color);
}
.about-header .navbar-brand,
.services-header .navbar-brand,
.projects-header .navbar-brand {
  display: flex;
  align-items: center;
}

.about-header .navbar-brand-text,
.services-header .navbar-brand-text,
.projects-header .navbar-brand-text {
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 38px;
  color: white;
}

/* Team Members */
.team-members-tabs {
  display: grid !important;
  grid-template-columns: 164px 1fr;
  column-gap: 3.563rem;
}
.team-members-tabs .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.team-members-tabs .card-column {
  flex: 25%;
  max-width: 25%;
  padding: 20px 4px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.card-column {
  background: #ffffff;
  box-shadow: 0px 24px 32px -3px rgba(67, 129, 129, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-column img {
  border-radius: 50%;
}
.card-column .ant-card-body {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.founder-details h4 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 0;
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.founder-details h5 {
  font-weight: 600;
  font-size: 1.05rem;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.about-team-section {
  margin-top: 5rem !important;
  margin-bottom: 1.563rem;
}
.about-team-section h3 {
  font-weight: 900;
  font-size: 2rem;
  line-height: 59px;
  text-align: center;
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.about-team-section p {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 24px;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 4.188rem;
}
.ant-tabs-tab {
  height: 45px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  border-radius: 10px !important;
  border: 2px solid #326060 !important;
  margin-bottom: 10px !important;
}
.ant-tabs-nav-list .ant-tabs-tab:last-child {
  margin-bottom: 0;
}
.ant-tabs-tab-btn {
  font-weight: 600;
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.ant-tabs-tab-active {
  background: linear-gradient(
    47.03deg,
    #438181 7.38%,
    #326060 97.34%
  ) !important;
}
.ant-tabs-tab-active .ant-tabs-tab-btn {
  -webkit-text-fill-color: white !important;
}
.ant-tabs-tab:hover {
  cursor: pointer;
}
.ant-tabs-tab-btn span {
  display: flex;
  align-items: center;
}
.ant-tabs-tab .anticon {
  color: #326060;
  margin-right: 5px;
}
.ant-tabs-tab-active svg {
  filter: brightness(9.5);
}

/* Location Section */
.about-location-section {
  height: 100vh;
  margin-bottom: 6.875rem;
  margin-top: 9.063rem !important;
}
.about-location-section h3 {
  font-weight: 900;
  font-size: 2rem;
  line-height: 59px;
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
}
.about-location-section p {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 24px;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 4.188rem;
}

.world-map-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.address-card {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  width: 450px;
  height: 300px;
  border: 5px solid #326060;
  padding: 25px 45px;
}
.address-card:first-of-type {
  margin-right: 1rem;
}
.address-card p {
  text-align: initial;
}
.address-card h4 {
  font-weight: 700;
  font-size: 1.563rem;
  line-height: 44px;
  color: #333333;
}

/******

3. SERVICES PAGE

******/
.servicesAboveFold {
  height: 500px !important;
  padding-bottom: 3.75rem;
}

/* Alternating Two Column Layout */
.layout {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1em;
  margin-left: -3.5em;
  align-items: center;
}
.layout:not(:first-of-type) {
  margin-top: 3em;
}
.layout:nth-child(even) {
  flex-direction: row-reverse;
}
.layout__item {
  padding-top: 1em !important;
  padding-left: 3.5em !important;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.layout__item--body {
  flex-grow: 9999;
}
.layout__item--figure {
  margin-right: auto;
  flex-grow: 1;
}
.layout__item--figure img {
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  border-radius: 20px;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
}
.layout__item * + * {
  margin-top: 1em;
}
.section-services {
  margin-top: 7.875rem;
  margin-bottom: 7.875rem;
  font-family: Montserrat;
}
.layout__item h2 {
  font-weight: 900;
  font-size: 2rem;
  line-height: 59px;
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.layout__item ul {
  list-style: none;
  padding-left: 0 !important;
  margin-top: 2.5rem;
}

.layout__item-1,
.layout__item-3 {
  padding-left: 9rem;
}
.layout__item ul li {
  color: #333;
  font-weight: 600;
}

/******

4. PROJECTS PAGE

******/

.projectsGalleryRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.projectsGalleryColumn {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
  position: relative;
}
.projectsGalleryColumn:nth-of-type(3n) {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}
.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    #438181 -2.31%,
    rgba(50, 96, 96, 0.5) 104.52%
  );
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  font-family: Montserrat;
  overflow-y: scroll;
}
/* .image__overlay::-webkit-scrollbar {
  width: 8px;
  background-color: teal;
}
.image__overlay::-webkit-scrollbar-thumb {
  border-radius: 5px;
} */
.image__overlY::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.image__overlay::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.image__overlay::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #326060;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}
.project-description p {
  font-size: 1.25rem;
}
.project-title {
  margin-bottom: 0;
}

/******

5. BLOG PAGE

******/

.blogAboveFold {
  height: 500px !important;
  padding-bottom: 3.75rem;
}
.section-blog {
  margin-top: 7.875rem;
  margin-bottom: 7.875rem;
  font-family: Montserrat;
}
.section-blog.container {
  max-width: 1000px !important;
}
.section-blog .card-column {
  flex: 25%;
  max-width: 25%;
  padding: 20px 4px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.section-blog .card-column {
  flex: 25%;
  max-width: 25%;
  padding: 20px 4px;
  margin-right: 25px;
  margin-bottom: 25px;
  box-shadow: none;
  justify-content: flex-start;
}
.section-blog .card-column img {
  border-radius: 5px;
}
.section-blog__inner {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.blog-card .ant-card-bordered {
  border: none !important;
}
.blog-card .ant-card-body {
  padding: 0 !important;
}
.blog-card__content-tag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 10px;

  background: linear-gradient(
    47.03deg,
    rgba(67, 129, 129, 0.25) 7.38%,
    rgba(50, 96, 96, 0.25) 97.34%
  );
  border-radius: 5px;
}
.blog-card__content-tag-wrapper {
  margin-top: 10px;
}
.blog-card__content-tag > span {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 21px;
  display: flex;
  align-items: center;
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.blog-card__content-title {
  font-family: "Montserrat";
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #000;
  letter-spacing: -0.008em;
  line-break: auto;
  line-height: 1.375rem;
  font-size: 1.125rem;
  overflow-wrap: normal;
  margin: 10px 0;
}
.blog-card__content-link:hover {
  text-decoration: underline !important;
}
.blog-card__content-summary {
  font-weight: 500;
  display: flex;
  align-items: center;
  line-height: 1.2em;
  font-size: 1rem;
  overflow-wrap: normal;
}
.blog-card__content-author {
  line-height: 1.16667em;
  font-size: 0.94rem;
  font-weight: 800;
  overflow-wrap: normal;
  text-transform: uppercase;
}

/******

6. BLOG DETAIL PAGE

******/
.section-blog-details__left {
  margin-right: 80px;
}
.section-blog-details__right__inner__content__tags::after {
  content: "";
  display: block;
  height: 2px;
  clear: both;
  background: url("/images/blog/horizontal-line.png");
}
.section-blog-details__right__inner__content__author__info {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
  margin: 10px 0;
}
.section-blog-details__right__inner__content__author__info h4,
.section-blog-details__right__inner__content__author__info p {
  margin-bottom: 0;
}
.section-blog-details__right__inner__content__tags > button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px 15px;
  gap: 10px;
  background: linear-gradient(
    47.03deg,
    rgba(67, 129, 129, 0.25) 7.38%,
    rgba(50, 96, 96, 0.25) 97.34%
  );
  border-radius: 5px;
  margin-bottom: 25px;
}
.section-blog-details__right__inner__content__tags > button > span {
  font-family: "Inconsolata";
  font-weight: 700;
  font-size: 0.938rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  background: linear-gradient(47.03deg, #438181 7.38%, #326060 97.34%);
  -webkit-background-clip: text;
  -webkit-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.section-blog-details__right__inner__content__table-of-contents > h4 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  color: #000000;
  margin-top: 20px;
}
.section-blog-details__left__inner__featured-image img {
  border-radius: 10px;
}
.section-blog-details__left__inner__content {
  font-size: 1.563rem;
  line-height: 30px;
  color: #000000;
  width: 100%;
  margin-top: 50px;
}
.section-blog-details__left__inner__content,
.section-blog-details__left__inner__content p {
  font-family: "Montserrat";
}
.section-blog-details__left__inner__content h1,
.section-blog-details__left__inner__content h2,
.section-blog-details__left__inner__content h3,
.section-blog-details__left__inner__content h4,
.section-blog-details__left__inner__content h5,
.section-blog-details__left__inner__content h6 {
  font-weight: 700;
  margin: 20px 0;
}
.section-blog-details__right__inner__content__table-of-contents ul {
  padding-left: 0 !important;
}
.section-blog-details__right__inner__content__table-of-contents ul li {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.section-blog-details__right__inner__content__table-of-contents ul li:last-of-type {
  margin-bottom: 0;
}
.section-blog-details__right__inner__content__table-of-contents ul li a {
  color: #000;
}

@media (min-width: 576px) and (max-width: 991px) {
  .container {
    max-width: 800px !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .phone img {
    left: 65px !important;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 750px !important;
    padding: 0 20px !important;
  }
  .above-fold .above-fold-row {
    display: flex;
    flex-direction: column-reverse;
  }
  .phone img {
    left: 197px !important;
  }
  .down-arrow-icon {
    position: relative;
    top: 4rem;
    z-index: 100;
  }
  .codnify-logo-container {
    margin-bottom: 2.063rem !important;
  }
  .above-fold-row > div {
    background-size: cover !important;
  }
  .partners span:not(.partners span:last-of-type) {
    margin-right: 15px !important;
  }
  .about-section .col {
    margin-bottom: 20px !important;
  }
  .services-section h3 {
    justify-content: center;
  }
  .services-section .col:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
  }
  .services-list {
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 1rem;
  }
  .services-list > div {
    transform: translateY(-51px);
  }
  .slick-slider {
    height: 100% !important;
  }
  .section-services.container {
    max-width: 960px !important;
  }
  .layout__item-1,
  .layout__item-3 {
    padding-left: 0 !important;
  }
  .layout {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .layout:nth-child(even) {
    flex-direction: column !important;
  }
  .layout__item--figure {
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 740px) {
  .phone img {
    left: 149px !important;
  }
}
@media screen and (max-width: 600px) {
  .container {
    max-width: 600px !important;
  }
  .phone img {
    left: 85px !important;
  }
  .team-members-tabs .row {
    flex-direction: column;
  }
  .team-members-tabs .card-column {
    flex: 100% 1;
    max-width: 95% !important;
  }
  .about-section .col {
    padding-right: 0 !important;
  }
  .about-section .row {
    padding-right: 0 !important;
  }
  .projectsGalleryColumn {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .phone img {
    left: 29px !important;
  }
  .services-section .col:first-of-type {
    position: relative;
    left: 15% !important;
  }
  .services-list {
    font-size: 1.2rem;
  }
  .services-list img {
    width: 20px !important;
    height: 20px !important;
  }
  .client__details-inner,
  .ratings {
    left: 25% !important;
  }
}
@media screen and (max-width: 420px) {
  .container {
    max-width: 600px !important;
  }
  .phone img {
    left: 0 !important;
  }
}
@media screen and (min-width: 421px) and (max-width: 479px) {
  .phone img {
    left: 31px !important;
  }
}
@media screen and (max-width: 700px) {
  .aboutUsAboveFold {
    border-radius: 0 !important;
  }
  .services-section .row {
    flex-direction: column;
  }
  .servicesAboveFold {
    border-radius: 0 !important;
  }
  .projects-section h3 {
    justify-content: center;
  }
  .image-with-clientdetails {
    gap: 2rem;
    display: grid;
    height: 100%;
    grid-template-rows: auto auto;
    width: 100%;
    grid-template-columns: none;
  }
  .testimonial-feedback {
    width: 100%;
  }
  .slick-prev,
  .slick-next {
    top: 78% !important;
    transform: translate(151%, -33%) !important;
  }
  .testimonials-section h3 {
    justify-content: center !important;
  }
  .ratings-container {
    height: 140px !important;
  }
  .ratings {
    justify-content: space-between;
    width: fit-content;
    left: 38%;
  }
  .client__details-inner {
    left: 38%;
    top: -453px;
  }
  .testimonial-container {
    flex-direction: column;
  }
  .contact-section > section {
    padding: 15px;
  }
  .input-field-row .row {
    flex-direction: column;
  }
  .contact-section h4 {
    font-size: 2rem;
  }
  footer > .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer-logo {
    justify-content: center;
  }
  .address {
    display: flex;
    justify-content: center;
  }
  .social-media ul {
    justify-content: center;
  }
  .company-info-links,
  .services-footer-links,
  .contact-footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .client-details {
    position: relative;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
  }
  .about-location-section {
    height: 100% !important;
  }
  .address-card h4 {
    line-height: 1;
  }
  .world-map-section {
    flex-direction: column;
    justify-content: space-evenly !important;
  }
  .address-card:first-of-type {
    margin-right: 0 !important;
    margin-bottom: 1rem;
  }
  .contact-footer-links ul,
  .services-footer-links ul,
  .company-info-links ul {
    width: -webkit-fill-available !important;
    text-align: center !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .services-section {
    margin-top: 6rem !important;
  }
  .services-section .rounded-services {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  .services-section .col:first-of-type {
    position: relative;
    left: 30%;
  }
  .testimonial-feedback h4 {
    justify-content: center;
  }
  .testimonial-feedback h5 {
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .team-members-tabs .card-column {
    flex: 40% 1;
    max-width: 40%;
  }
}
@media screen and (max-width: 450px) {
  .team-members-tabs {
    display: flex !important;
    flex-direction: column;
  }
  .ant-tabs-tab {
    margin-bottom: 0 !important;
  }
  .ant-tabs-nav-wrap {
    margin-bottom: 2rem !important;
  }
  .about-team-section {
    flex-direction: column !important;
  }
  .about-team-section .row {
    padding-right: 0 !important;
  }
  .address-card {
    width: auto !important;
  }
  .about-page-container h3 {
    line-height: 1.2;
  }
}
